extends ../_template.pug

block bodycontent
    .container.container-md
        h1 Sign up or sign in
        form(action="/auth" method="post")
            .mb-3
                label.form-label What's your email address?
                input(type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="example@example.eg").form-control
                div#emailHelp.form-text We'll never share your email.
            button.btn.btn-primary.mt-3 Next