<!DOCTYPE html>
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet" href="/static/styles.css")
        block headcontent
    body
    #app
        include includes/_nav.pug
        if err
            .container.containder-md
                .alert.alert-danger= err
        block bodycontent